body {
  background-color: var(--purple);
  color: var(--white);
}

@media (min-width: 415px) {
  body {
    background: var(--orange);
    color: var(--black);
  }
}

@media (min-width: 1024px) {
  body {
    background: var(--green);
    color: var(--white);
  }
}
